.sidebar {
    background: #020617;
    width: 220px;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    display: block;
    padding: 12px;
    border-radius: 8px;
    color: #cbd5f5;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #4f46e5;
    color: white;
}